@{
    ViewData["Title"] = "Thank You";
}
<div class="d-flex flex-column justify-content-center vh-100 ">

    <h2>Thank You for Your Subscription!</h2>

    <p>We appreciate your subscription to our blog.</p>

    <div>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Home</a>
    </div>

</div>