@{
    ViewData["Title"] = "Unsubscribed";
}
<div class="d-flex flex-column justify-content-center vh-100 ">

    <h2>Unsubscribed</h2>

    <p>We are sorry to see you go.</p>

    <p>Was it a mistake? You can resubscribe to our blog:</p>

    <div>
        <a asp-action="Subscribe" asp-controller="Subscriber" class="btn btn-success">Subscribe</a>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Home</a>
    </div>

</div>